.logoContainer {
  position: relative;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}


.dropdown {
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logoContainer:hover .dropdown {
  display: block; /* Show on hover */
}

.dropdown p {
  margin: 5px 0;
  font-size: 14px;
}

